{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h4><strong>технические характеристики и конструкция</strong></h4>
        <img src="{{ asset('img/gofra/stripwound-1.jpg') }}" alt="stainless-hose" class="img-thumbnail"><br><br>

        <a class="btn btn-outline-primary" href="{{ path('download_stripprice') }}" target="_blank" role="button">Загрузить Прайс</a>
        <a class="btn btn-outline-primary" href="{{ path('download_stripcatalog') }}" target="_blank" role="button">Загрузить Каталог</a>
        <br><br>
        <p>Рабочая среда: выхлопные газы, воздух, пар, сыпучие вещества.
            Температура рабочих сред: для оцинкованной стали составляет до +400 0 С, для нержавеющей стали составляет от -270 0 С до +650 0 С.
            Несущая оболочка представляют собой витой шланг, изготовленный из металлической ленты которая в процессе производства профилируется и сворачивается по спирали в гибкий трубопровод. Соединение и уплотнение между витками спирали достигается за счет S образного замка.
            <img src="{{ asset('img/gofra/stripwound-3.jpg') }}" alt="stainless-hose"  height="300" width="200" class="img-thumbnail" >
            В качестве материалов для производства несущей оболочки применяются ленты:  нержавеющая и оцинкованная.
            для наружной оболочки для механической защиты поверхность рукава может оплетаться одним или двумя слоями металлической оплетки.
            Установка концевых фиттингов по чертежам или образцам заказчика.
        </p>
        <h4>область применения</h4>
        <img src="{{ asset('img/gofra/stripwound-2.jpg') }}" alt="stainless-hose"  class="img-thumbnail">
        <P> В выхлопной системе грузовых автомобилей КАМАЗ, МАЗ, VOLVO, SCANlA, MERCEDES, lVECO, MAN, DAF для компенсации монтажных погрешностей и вибрационных нагрузок.
            В качестве системы отвода выхлопных газов для электрогенераторов, работающих на всех видах топлива (бензин, дизель, газ и т.д.) выполненную полностью из нержавеющей стали, что гарантирует ее долговременную и безопасную эксплуатацию.
            Реализация металлорукава для автономных отопителеи и предпусковых подогревателей Webasto, Eberspacher, AlRTRONlC, HYDRONlC и пр., предназначенных для отвода газов от отопителей, широко применяемых как на легковых автомобилях, так и на грузовом коммерческом транспорте.
            для систем промышленной вентиляции.
            • Для защиты кабельных линий от внешних физических повреждений, ультрафиолета.
        </P>

        <a class="btn btn-outline-primary" href="{{ path('download_stripprice') }}" target="_blank" role="button">Загрузить Прайс</a>
        <a class="btn btn-outline-primary" href="{{ path('download_stripcatalog') }}" target="_blank" role="button">Загрузить Каталог</a>
        <br><br>
    </div>
{% endblock %}
