{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}

    <div class="example-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="entry-content">
            <img src="{{ asset('img/stainless_hose/hosemetal.jpg') }}" alt="stainless-hose" class="img-thumbnail">
            <h4><strong>металлорукав из нержавеющей стали</strong></h4>
            <p>Ваш выбор в пользу долговечности, надежности, высокого качества</p>
            <p>Спроектированы и произведены для работы в любых условия</p>
            <h5><strong>Гибкие металлорукава из нержавеющей стали</strong></h5>
            <p>Легкие в установке, удобные в эксплуатации, гибкие металлорукава из нержавеющей стали представляют собой
                идеальное решение для работы с различными жидкостями и газами в современной промышленности.</p>
            <h5><strong>Металлорукав гибкий сильфонный</strong></h5>
            <p>традиционно считается незаменимыми в таких требовательных отраслях промышленности, как металлургическая,
                химическая, нефтехимическая, газовая, сталелитейная, автомобилестроительная, ядерная, электрическая,
                стекольная, пищевая и многие другие.</p>
            <p>В работе с такими специфическими веществами, как газы, сжиженные газы, топливо, химикаты, перегретые пары
                и др., независимо от сложности рабочих условий и</p>
            <p><img src="{{ asset('img/stainless_hose/metal-hose.jpg') }}" alt="stainless-hose" class="img-thumbnail">
            </p>
            <p>агрессивности внутренней среды, металлорукава неизменно остаются гибкими, надежно поглощают вибрацию и
                обеспечивают высокую степень противопожарной защиты.</p>
            <p>Оплетка <strong>металлорукава</strong> из нержавеющей стали: одинарная, двойная придает металлорукавам
                особую прочность и устойчивость даже в самых сложных рабочих условиях. Металлорукава производятся из
                нержавеющей стали наивысшего качества, в соответствии с самыми современными технологиями.</p>
            <p>&nbsp;</p>
            <h4><strong>Металлорукава купить можно заполнив форму (см. ниже)</strong></h4>
            <!--
        <a class="btn btn-outline-primary" href="{{ path('download_metalhose_price') }}" target="_blank" role="button">Загрузить Прайс</a>
        -->
            <a class="btn btn-outline-primary" href="{{ path('download_metalhose_catalog') }}" target="_blank"
               role="button">Загрузить Каталог</a>
            <a class="btn btn-outline-primary" href="{{ path('download_metalhose_inquire') }}" target="_blank"
               role="button">Загрузить Опросный лист </a>
            <br><br>
        </div>
    </div>
{% endblock %}
